body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flag {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  z-index: 5;
  border: none;
}

.flag img {
  width: 25px;
  margin: 10px 0;
}

.flag:hover {
  opacity: 0.5;
}

.flag{
  outline: none;
}

.number {
  position: absolute;
  transform: translateX(-50%); 
  left: 45%;
  top: 40px;
  color: #fff;
}

.number:nth-child(2) {
  left: 55%;
}
